* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.header, .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    background-color: #f0f0f0;
}

.side-content {
    width: 300px;
    padding: 20px;
}

.side-left {
    background-color: lightpink;
}
.side-right {
    background-color: lightblue;
}

.main {
    flex: 1;
    padding: 10px 15px;
}

.main > p {
    margin: 10px;
} 

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .side-content, .main {
        width: 100%;
    }
    .side-content {
        padding: 15px;
    }
}

